@charset "UTF-8";

body {
    background-color: rgb(207, 247, 209);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 66, 3);
}

h1#principal {
    text-align: center;
    color: black;
}

h2 {
    color: rgb(63, 88, 64);
}

.basico {
    color: rgb(63, 88, 64);
}

.inter {
    color: rgb(192, 157, 0);
}

.avancado {
    color: rgb(212, 1, 1);
}

.destaque {
    background-color: rgba(218, 165, 32, 0.356);
}
